.outer {
    width: 100%;
    min-height: 10vh;
    background-color: #1F2937;

    .inner {
        margin: 0 auto;
        min-height: 10vh;
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;

        h5 {
            text-align: center;
        }
    }
}